<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Reset Password</title>
</head>
<body>
    <div class="container">
        <form action="{{ url_for('reset_password') }}" method="post" class="login__form">
            <h1>Reset Password</h1>
            <div class="input__row">
                <span><i class="ri-lock-2-line"></i></span>
                <div class="input__group">
                    <input type="password" name="new_password" placeholder=" " required />
                    <label for="new_password">New Password</label>
                </div>
            </div>
            <div class="input__row">
                <span><i class="ri-lock-2-line"></i></span>
                <div class="input__group">
                    <input type="password" name="confirm_password" placeholder=" " required />
                    <label for="confirm_password">Confirm Password</label>
                </div>
            </div>
            <button class="login__btn" type="submit">Reset Password</button>
        </form>
    </div>
</body>
</html>
